body {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
#end {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bod {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    gap: 32px;
    align-items: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.score {
    display: flex;
    justify-content: space-around;
}
.againbutton{
    display: flex;
    justify-content: center;
}
.again {
    visibility: hidden;
    margin: 12px;
}